body {
    background-color: #c38322; /* choose any color */
    margin: 0;
    font-family: Arial, sans-serif;
}


#container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

#container button{
    width: 100px;
    height: 100px;
    border-radius: 30px;
    border: 3px solid rebeccapurple;
    cursor: pointer;
    background-color: aqua;

    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;

    font-size: 0;
    transition: transform 0.2s ease,box-shadow 0.2s ease;
}


#Rock{
    background-image: url(images/rock.png);
}
#Paper{
    background-image: url(images/paper.png);
}
#Scissor{
    background-image: url(images/scissor.png);
}

#container button:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(166, 14, 14, 0.2);
}
    
#container button:active{
    transform: scale(0.9);
}

#container button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
    box-shadow: none;
}

.score.board{
    text-align: center;
    margin-top: 20px;
}

#scores{
    font-size: 22px;
    font-weight: bold;
}

#results{
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    min-height: 30px;
}

#status{
    text-align: center;
    margin-top: auto;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}

#resetButton {
    display: flex;
    justify-content: center;
}

#resetButton button:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20 px rgba(41, 181, 25, 0.2);
    background-position: center;
}

#reset{
    width: 100px;
    height: 30px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #ff5252;
    color: white;
    cursor: pointer;
}